{{!< default}}
{{! Top line inserts this template on main layout}}

{{! Page template start}}
{{#post}}
<article class="{{post_class}}">
	
<header id="head-wsong">
	{{> menu}}
	
	<div id="mobile-menu-btn-wsong"><span class="fa fa-reorder"></span></div>

	<div id="inside-head-wsong">

		{{#if image}}
		<div id="inside-head-cover-wsong" style="background-image:url({{image}});"></div>
		{{/if}}

		<div id="in-post-meta" class="diffuse-elements">
			<h1 id="in-post-page-title">{{title}}</h1>
		</div>
		
	</div>
</header>

<section id="in-post-content">
	{{content}}

	<div id="contact-page-form-wsong" class="contact-page-form-rc"><!-- www.123contactform.com script begins here -->
<script type="text/javascript" defer src="//www.123contactform.com/embed/2741241.js" data-role="form"></script>
<a style="font-size:small!important;color:#000000!important; text-decoration:underline!important;" title="Looks like phishing? Report it!" href="http://www.123contactform.com/sfnew.php?s=123contactform-52&control119314=http:///contact-form--2741241.html&control190=Report%20abuse" rel="nofollow">Report abuse</a></p><!-- www.123contactform.com script ends here --></div>
</section>

</article>
{{/post}}