{{! Header partial template}}
<header id="main-head-personal" class="head-wrap" {{#if @blog.cover}}style="background: url({{@blog.cover}});"{{/if}}>
	
	<nav id="main-navigation-personal">
		{{navigation}}

		
	</nav>

</header>